form.form-inline
  label Find a developer:
  input(type='text', placeholder='Search', id='search', name='search').input-small
  input(type='text', placeholder='Availability', id='availability', name='availability', data-provide='typeahead')
  input(type='text', placeholder='Location', id='location', name='location').input-small
  button(type='search').btn Search