doctype 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    body(style='background-color: #9D261D;')
      table(width='100%', style='font-family: Tahoma, Arial, sans-serif; font-size: 12px; color: #000000;')
        tr
          td
            table(border-collapse='collapse', width='600px', align='center', style='background-color: #fff; border: 1px solid #999; padding: 20px;')
              tr
                td(style='border-bottom: 1px solid #999;')
                  h1(style='color=#08C;') Reminder from JobBoard @ IGDA!
              tr
                td(style='padding-top: 2.5em;')
                  | Your job post for 
                  b #{job.jobpost} 
                  | in JobBoard @ IGDA has expired.
              tr
                td(style='padding-top: 0.5em;')
                  | This will no longer be available in job searches.
              tr
                td(style='padding-top: 0.5em;')
                  | If the job hasn't been filled yet, please post another one.
              tr
                td(style='padding-top: 0.5em;')
                  | Thank you and have a great day!