extends ../layouts/layout

block tab-header
  li.active
    a(href='/jobs') Job Posts
  li
    a(href='/users') Developers

block content
  h1 All Jobs
  .show-nav
    p: a(href='/jobs') &lsaquo;&lsaquo; Back to all jobs
  .row-fluid
    .span8
      aside
        section
          each job in jobList
            ul.jobs
              li: a(href='/jobs/'+ job._id)
                span.location #{job.location}
                span.jobtitle #{job.jobtitle}
                | at
                span.company #{job.company_name}
                span.date #{job.created_at.toDateString()}
    .span4
      aside
        a(href='/jobs/new').btn.btn-large.btn-primary Add job now!