extends ../layouts/layout

block tab-header
  li
    a(href='/jobs') Job Posts
  li
    a(href='/users') Developers

block content
  h1 Job Post Error
  .row-fluid
    .span9
      | The job post has not yet been confirmed.